fastapi==0.115.2
uvicorn==0.30.0
SQLAlchemy==2.0.44
psycopg2-binary==2.9.9
slowapi==0.1.7

pydantic==2.9.2
pydantic-settings==2.4.0

python-dotenv==1.0.1
python-multipart==0.0.9
PyYAML==6.0.2

pandas==2.2.3
numpy==1.26.4
python-dateutil==2.9.0.post0
pytz==2024.1

requests==2.32.3

watchfiles==0.23.0
