click==8.3.1
fastapi==0.115.2
limits==2.8.0
numpy==1.26.4
pandas==2.2.3
psycopg2-binary==2.9.9
pydantic==2.9.2
pydantic-settings==2.4.0
pytest==9.1.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-multipart==0.0.9
pytz==2024.1
PyYAML==6.0.2
requests==2.32.3
slowapi==0.1.7
SQLAlchemy==2.0.44
uvicorn==0.30.0
watchfiles==0.23.0